<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h2>Users</h2>

<table class="table">
	<thead class="thead thead-default">
		<tr>
			<th>Name</th>
			<th>Email</th>
		<% if (session[:user_id]) != nil %>
			<th>New message</th>
			<th>Add friend</th>
		<% end %>

		</tr>
	</thead>

	<tbody>
<% User.all.each do |user| %>
	<% if (user.id != session[:user_id]) %>
		 <tr>
	<% else %>
		<tr style="display: none">
	<% end %>
		 	<td><%= user.name %></td>
		 	<td><%= user.email %></td>
		<% if (session[:user_id]) != nil %>
		 	<td><%= link_to "New message", new_message_path(r_id: user.id, s_id: session[:user_id])  %></td>
		 	<td><%= link_to "Add friend", new_friendship_path(r_id: user.id, s_id: session[:user_id])  %></td>
		<% end %>
		 </tr>
<% end %>
	</tbody>

</table>

<%= link_to "Sign Up", new_user_path %>